.content {
  max-width: 736px;
  margin: 0 auto;
}

.newTaskForm {
  margin-top: -27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newTaskForm input {
  flex: 1;
  background: var(--gray-500);
  border-radius: 8px;
  font-size: 1rem;
  color: var(--gray-300);
  border: 1px solid var(--gray-700);
  padding: 1rem;
}

.newTaskForm button {
  margin-left: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  background: var(--blue-dark);
  color: var(--gray-100);
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.2s;
}

.newTaskForm button svg {
  margin-left: 0.5rem;
}

.newTaskForm button:not(:disabled):focus,
.newTaskForm button:not(:disabled):hover {
  filter: brightness(120%);
}

.newTaskForm button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}